@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo y estilo general de la página */
body {
  font-family: 'VT323', sans-serif;
  background: linear-gradient(to right, #ffffff, #cecece);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/******* NAVBAR ********/
nav {
  background-color: #e11d48; /* Rojo vibrante */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Añadido shadow para navbar */
  transition: box-shadow 0.3s ease; /* Animación de sombra */
}

nav h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin: 0;
}

nav .space-x-6 {
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #fca5a5; /* Rojo claro al pasar el cursor */
}

nav a:focus {
  outline: 2px solid #fca5a5; /* Mejora la accesibilidad */
}

/**********************/

/* Contenedor principal */
.min-h-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
}

/* Media Queries para la estructura de la grilla */
@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Transiciones y efectos para las cartas */
.card-container {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

button {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

/* Estilo de Swiper */
.swiper-container {
  width: 100%;
  max-width: 100%; /* Para no exceder el límite de pantalla */
  padding: 20px 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .flex {
  max-width: 300px;
  width: 100%;
}

.swiper-slide img {
  max-height: 200px;
  object-fit: contain;
}

/* Estilo para los botones de navegación */
.swiper-button-next,
.swiper-button-prev {
  color: #007bff; 
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, 1);
}
